@import url("./style.css");



header a {
    font-weight: bold;
    font-style: normal;
    color: var(--branco);
}

.fundo-azul {
    background-color: var(--azul-escuro);
    background-size: cover;
    height: 87.9%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.texto1 {
    color: var(--branco);
    margin-left: 5%;
}


.funcoes {
    margin-top: 100px;
    box-shadow: 0 0 10px black;
    background-color: var(--azul-escuro); 
    height: 30%;
    margin-left: 100px;
    width: 90%;
    display: flex;
    border-radius: 10px;
    justify-content: center; 
    align-items: center;
    gap: 60px;
}

.usuarios-1,
.usuarios-2,
.usuarios-3,
.usuarios-4 {
    background-color: var(--branco-gelo);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    width: 10vw;
    height: 15vh;
    padding: 25px 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}
.usuarios-1:hover,
.usuarios-2:hover,
.usuarios-3:hover,
.usuarios-4:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--azul-marinho);
}
.livros-1:hover,
.livros-2:hover,
.livros-3:hover,
.livros-4:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--azul-marinho);
}
.livros-1,
.livros-2,
.livros-3,
.livros-4 {
    background-color: var(--branco-gelo);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    width: 10vw;
    height: 15vh;
    padding: 25px 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.texto2 {
    color: var(--branco);
    margin-left: 5%;

}

@media (max-width: 600px) {

    .logoBiblitec {
        width: 70px;
    }

    #icons {
        font-size: 35px;
    }

    .funcoes {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }

    .material-symbols-outlined {
        font-size: 35px;
    }
}