@import url("./style.css");

header a {
    font-weight: bold;
    font-style: normal;
    color: var(--branco);
}

.fundo-azul {
    /* background-image: url("../img/fundoazul.png"); */
    background-color: var(--azul-escuro);
    background-size: cover;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.texto1 {
    color: var(--branco);
    margin-left: 5%;
}


.caixa_branca_1 {
    background-color: var(--branco);
    height: 40%;
    height: 52%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.usuarios-1,
.usuarios-2,
.usuarios-3,
.usuarios-4 {
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    width: 10vw;
    height: 15vh;
    padding: 25px 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}livros
.livros-1,
.livros-2,
.livros-3,
.livros-4 {
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    width: 10vw;
    height: 15vh;
    padding: 25px 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.texto2 {
    color: var(--branco);
    margin-left: 5%;

}

.caixa_branca_2 {
    background-color: var(--branco);
    height: 25%;
    width: 100%;
}

#divPesquisa input {
    width: 90vw;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1rem;
}

#divLogin {
    width: 10%;
    display: flex;
    justify-content: center;

}





























#prev-btn {
    display: flex;
    border-radius: 1000%;
    cursor: pointer;
    justify-content: flex-start;
}

#next-btn {
    display: flex;
    border-radius: 1000%;
    cursor: pointer;
    justify-content: flex-end;
}


.img_livro_bd {
    background-image: url("../img/img_livros/livro_BD.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    /* defina o tamanho do container */
    height: 400px;
}


.img_livro_Csharp {
    background-image: url("../img/img_livros/livro_Csharp.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    /* defina o tamanho do container */
    height: 400px;
}

.img_livro_html_css {
    background-image: url("../img/img_livros/livro_html_css.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    /* defina o tamanho do container */
    height: 400px;
}

.img_livro_js {
    background-image: url("../img/img_livros/livro_js.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    /* defina o tamanho do container */
    height: 400px;
}

.img_livro_python {
    background-image: url("../img/img_livros/livro_python.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    /* defina o tamanho do container */
    height: 400px;
}

.img_livro_scrum {
    background-image: url("../img/img_livros/livro_scrum.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    /* defina o tamanho do container */
    height: 400px;
}

.livro {
    width: 150px;
    height: 220px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    cursor: pointer;
}

.livro:hover {
    transform: scale(1.1);
}