@import url("./main.css");
@import url("./style.css");

body{
    background-color: var(--azul-escuro);
}
main{
    display:flex;
    align-items:center;
    
}
.caixa-cadastro{
    margin-top: 17%;
    margin-bottom: 15%;
    width: 25vw;
    height: 70vh;
    box-shadow: 0 0 10px black;
    display: flex;
    border-radius: 10px;
    color: var(--branco);
}

#btnCadastrar {
    width: 100px;
    height: 50px;
    display: flex;
    justify-self: end;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--ciano);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    
}
