@import url("./main.css");
@import url("./style.css");

body{
    background-color: var(--azul-escuro);
    min-height: 100vh;
    margin: 0;
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.caixa-cadastro{
    width: 25vw;
    min-width: 40vh;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 40px;
    color: var(--branco);
}

.form-group{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label{
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: var(--branco);
    color: #333;
    
}

.button-group {
    margin-top: auto; 
    display: flex;
    justify-content: center; 
    padding-top: 20px;
}

#btnCadastrar {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--ciano);
    color: var(--branco);
    border: none;
    border-radius: 45px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
} 

#btnCadastrar:hover {
    background-color:#00cccc;
}