@import url("./style.css");

header a {
     font-weight: bold;
     font-style: normal;
     color: var(--branco);
} 
.fundo-azul{
    background-image: url("../img/fundoazul.png");
    background-size: cover;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.texto1{
    color: var(--branco);
    margin-left: 5%;
}

.caixa-branca-meio{
    background-color: var(--branco);
    height: 40%;
    width: 100%;
}

.texto2{
    color: var(--branco);
    margin-left: 5%;

}

.caixa-branca{
    background-color: var(--branco);
    height: 25%;
    width: 100%;
}

#divPesquisa{
    /* background-color:black; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* margin-right: -30%; */
}

#divLogin{
    /* background-color:blue; */
    width: 10%;
    display: flex;
    justify-content: center;
 
}

#pesquisa{
    
    width: 40%;
    height: 5vh;
    border: none;
    border-radius: 5px;
}




 #container{

    
    /*background-image: url("../img/fundoazul.png");*/
    background-image: o;
    background-size: cover;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#caroussel{
   
    height: 198%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 6%
}
#caroussel-content{
    width: 100%;
    height: 100%;
}
.container-caroussel{
    width:100%;
    height: 100%;
    transition: backgroud image 0.3s;
}

/*.material-symbols-outlined{
    font-size: 40px;
    width: 95%;
    height: 10%;
    justify-content: center;
    display: flex;
    border-radius: 1000%;
    cursor: pointer;
}*/

#prev-btn{
    font-size: 40px;
    width: 95%;
    height: 10%;
    display: flex;
    border-radius: 1000%;
    cursor: pointer;
}

#next-btn{
    font-size: 40px;
    width: 95%;
    height: 10%;
    display: flex;
    border-radius: 1000%;
    cursor: pointer;
    justify-content: end;
}


.img_livro_bd{
    background-image: url("../img/img_livros/livro_BD.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px; /* defina o tamanho do container */
    height: 400px;
}

.img_livro_Csharp{
    background-image: url("../img/img_livros/livro_Csharp.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px; /* defina o tamanho do container */
    height: 400px;
}
.img_livro_html_css{
    background-image: url("../img/img_livros/livro_html_css.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px; /* defina o tamanho do container */
    height: 400px;
}
.img_livro_js{
    background-image: url("../img/img_livros/livro_js.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px; /* defina o tamanho do container */
    height: 400px;
}
.img_livro_python{
    background-image: url("../img/img_livros/livro_python.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px; /* defina o tamanho do container */
    height: 400px;
}
.img_livro_scrum{
    background-image: url("../img/img_livros/livro_scrum.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px; /* defina o tamanho do container */
    height: 400px;
} 