@import url("./style.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    width: 100%;
    height: auto;
    padding: 15px 20px;
    background-color: var(--azul-escuro);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    box-shadow: 0 0 10px black;
}

#divLogo {
    display: flex;
    align-items: center;
}


#divPesquisa {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}

#divPesquisa input {
    width: 100%;
    max-width: 500px;
    padding: 10px 15px;
    padding-right: 40px;

    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
}

#icon-search {
    position: absolute;
    right: calc(50% - 250px + 15px);
    top: 50%;
    transform: translateY(-50%); 
    font-size: 25px;
    color: #555;
    pointer-events: none; 
}

header a {
    font-weight: bold;
    color: var(--branco);
    text-decoration: none;
}

#divLogin a {
    padding: 8px 18px;
    border-radius: 20px;
    background-color: var(--azul-marinho);
    text-decoration: none;
    color: var(--branco);
    transition: .2s;
}

#divLogin a:hover {
    background-color: rgb(155, 155, 155);
    transform: scale(1.05);
}


.fundo-azul {
    background-image: url("../img/fundoazul.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.texto1,
.texto2 {
    color: var(--branco);
    margin-left: 5%;
}


.caixa_branca_1 {
    width: 100%;
    background-color: var(--branco);
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 25px;
}

.caixa-1,
.caixa-2,
.caixa-3,
.caixa-4,
.caixa-5,
.caixa-6 {
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    padding: 20px 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.caixa-1:hover,
.caixa-2:hover,
.caixa-3:hover,
.caixa-4:hover,
.caixa-5:hover,
.caixa-6:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--azul-marinho);
}

#icons {
    font-size: 45px;
    margin-bottom: 10px;
}


.caixa_branca_2 {
    background-color: var(--branco);
    padding: 40px 0;
}


@media (min-width: 1200px) {

    header {
        height: 80px;
        padding: 15px 40px;
        gap: 25px;
    }


    #divPesquisa input {
        max-width: 550px;
        font-size: 1rem;
    }
    
    #icon-search {
        right: calc(50% - 275px + 15px);
    }

    #divLogin a {
        padding: 8px 20px;
        font-size: 1rem;
    }

    .fundo-azul {
        padding: 50px 0;
        gap: 40px;
    }

    .texto1,
    .texto2 {
        margin-left: 5%;
        font-size: 1.2rem;
    }

    .caixa_branca_1 {
        width: 100%;
        padding: 40px 30px;
        gap: 25px;
    }

    .caixa_branca_2 {
        width: 100%;
        padding: 5px 0;
    }

    .caixa-1,
    .caixa-2,
    .caixa-3,
    .caixa-4,
    .caixa-5,
    .caixa-6 {
        width: 220px;
        height: 230px;
        padding: 25px 15px;
    }

    #icons {
        font-size: 50px;
        margin-bottom: 12px;
    }

    #caroussel-content {
        gap: 25px;
        padding: 15px;
    }

    .livro {
        width: 170px;
        height: 250px;
    }

    .img_livro_bd,
    .img_livro_Csharp,
    .img_livro_html_css,
    .img_livro_js,
    .img_livro_python,
    .img_livro_scrum {
        background-position: center;
        width: 180px;
        height: 270px;
    }

    .caixa-1 h4,
    .caixa-2 h4,
    .caixa-3 h4,
    .caixa-4 h4,
    .caixa-5 h4,
    .caixa-6 h4 {
        font-size: 1.1rem;
    }

    .caixa-1 p,
    .caixa-2 p,
    .caixa-3 p,
    .caixa-4 p,
    .caixa-5 p,
    .caixa-6 p {
        font-size: 0.95rem;
    }
}



@media (max-width: 900px) {

    header {
        gap: 15px;
    }

    .logoBibliotec {
        width: 60px;
    }

    #divPesquisa input {
        max-width: 90%;
    }
}

@media (max-width: 600px) {



    #icons {
        font-size: 35px;
    }

    .caixa_branca_1 {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }

    .material-symbols-outlined {
        font-size: 35px;
    }
}

