@import url("./style.css");

.fundo-azul{
    background-image: url("../img/fundoazul.png");
    
    
    background-size: cover;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
}
.caixa-branca{
    background-color: var(--branco);
    height: 26%;
    width: 100%;
}

#divPesquisa{
    /* background-color:black; */
    width: 40vw;
    display: flex;
    justify-content: center;
}

#divLogin{
        /* background-color:blue; */

    width: 5vw;
    display: flex;
    justify-content: flex-end;
}



#pesquisa{
    width: 30vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    margin-right: -60%;
}














/* #container{

    
    background-image: url("../img/fundoazul.png");
    background-image: o;
    background-size: cover;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#caroussel{
    background-color: rgb(183, 214, 9);
    height: 50%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#caroussel-content{
    width: 30%;
    height: 100%;
}
.container-caroussel{
    width:100%;
    height: 100%;
    transition: backgroud image 0.3s;
}
.material-symbols-outlined{
    font-size: 40px;
    width: 15%;
    height: 10%;
    justify-content: center;
    display: flex;
    border-radius: 1000%;
    cursor: pointer;
    
}
.img_livro_bd{
    background-image: url("../img/img_livros/livro_BD.jpeg");
    background-size:cover ;
}
.img_livro_Csharp{
    background-image: url("../img/img_livros/livro_Csharp.jpeg");
    background-size:cover ;
}
.img_livro_html_css{
    background-image: url("../img/img_livros/livro_html_css.jpeg");
    background-size:cover ;
}
.img_livro_js{
    background-image: url("../img/img_livros/livro_js.jpeg");
    background-size:cover ;
}
.img_livro_python{
    background-image: url("../img/img_livros/livro_python.jpeg");
    background-size:cover ;
}
.img_livro_scrum{
    background-image: url("../img/img_livros/livro_scrum.jpeg");
    background-size:cover ;
} */