@import url("./main.css");

body {
    background-color: var(--azul-escuro);
    color: var(--branco);
}

h2 {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

th {
    color: var(--branco);
    background-color: var(--azul-escuro);
    padding: 12px 10px;
    text-transform: uppercase;
    border-bottom: 2px solid var(--branco);
}

td {
    text-align: center;
    vertical-align: middle;
    padding: 8px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}