@import url("./main.css");

body{
    background-color: var(--azul-escuro);
    color: var(--branco);
}

.capa-livro{
    width: 100%;
}

td{
    overflow: hidden;
    width: 100px;
    height: 10px;
    align-items: center;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0;
    color: black;
}

.tabela-wrapper {
    border-radius: 70px; 
    overflow: hidden; 
    border: 1px solid var(--branco); 
    background-color: var(--branco-gelo);
}
/* thead {
    color: black;
    background-color: var(--branco-gelo); 
    border: 1px solid var(--branco); 
}
thead tr:first-child th:first-child {
    border-top-left-radius: 70px;
}
thead tr:first-child th:last-child {
    border-top-right-radius: 70px;
} */