@import url("./main.css");

body {
    background-color: black;
    place-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

header {
    background: transparent;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
}

.img_gradient {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}

#form-login {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.neon {
    width: 38vw;
    height: 86vh;
    background: linear-gradient(to right, var(--azul-escuro), var(--azul-marinho), var(--ciano));
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
    cursor: pointer;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animationGradient {
    to {
        background-position: 200%;
    }
}

.caixa-login {
    margin-top: 0%;
    margin-bottom: 0%;
    width: 35vw;
    height: 79vh;
    background-color: black;
    padding: 20px;
    box-shadow: 0 0 10px rgb(141, 141, 141);
    display: flex;
    flex-direction: column;
    border-radius: 80px;
    justify-content: center;
    color: var(--branco);
    gap: 25px;
}

h1 {
    margin-top: -10%;
    text-align: center;
}

.divEntrada {
    margin-top: 40px;
    width: 27vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    color: var(--ciano);
    border-radius: 30px;
    height: 7vh;
    width: 100%;
    border: 1px solid white;
    margin-top: 3%;
}

#senha {
    margin-top: 1%;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none !important;
}



.entrada {
    top: 20px;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: white;
    outline: none;
}

.senha-container {
    position: relative;
    display: flex;
    align-items: center;
}

.senha-container .entrada {
    width: 100%;
    padding-right: 40px;
}

.password-toggle {
    position: absolute;
    right: 10px;
    cursor: pointer;
    user-select: none;
    color: #666;
    font-size: 24px;
    transition: color 0.2s;

}

.password-toggle:hover {
    color: var(--ciano);
}

#texto {
    margin-top: -1%;
    text-align: center;
    font-size: 14px;
}


#btnLogin {
    width: 50%;
    height: 100%;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--ciano);
    color: var(--branco);
    border: none;
    border-radius: 30px;
    margin-top: 40px;
    font-size: 16px;
    /* font-weight: bold; */
}

#btnLogin:hover {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
    transform: scale(1.01);
}

.direcionavel {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 60vh;
    margin-left: 40px;
}

label {
    color: var(--branco);
    font-size: 14px;
}

a {
    font-size: 14px;
}

#linkCadastro {
    color: var(--ciano);
    font-weight: bold;
    text-decoration: none;
}

#linkCadastro:hover {
    background-color: rgb(1, 96, 96);
    transform: scale(1.05);
}

#linkRecuperar:hover {
    background-color: rgb(155, 155, 155);
    transform: scale(1.05);
}



#linkRecuperar {
    color: var(--branco);
    font-weight: bold;
    text-decoration: none;

}




footer {
    background: transparent;
}


/* @media (min-width: 900px) {

    .caixa-login {
        width: 50%;
        max-width: 450px;
        height: 650px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #btnLogin {
        width: 150px;
        height: 60px;
        justify-self: end;
        margin-top: 10%;
    }

    #direcionavel {
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
    }

    #linkRecuperar {
        margin-left: 20px;
    }
}


@media (max-width: 400px) {

    h1 {
        font-size: 22px;
    }

    #texto {
        font-size: 13px;
    }

    .caixa-login {
        margin-top: 25%;
        margin-bottom: 25%;
        padding: 15px;
    }

    fieldset {
        height: 48px;
    }

    .entrada {
        font-size: 16px;
    }
} */