@import url("./main.css");
@import url("./style.css");


body {
    background-color: var(--azul-escuro);
    place-items: center;   
}
.caixa-login{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 25vw;
    height: 70vh;
    box-shadow: 0 0 10px black;
    display: grid;
    border-radius: 10px;
    justify-content: center;
    /* align-content: center; */
    color: var(--branco);
}

h1{
    text-align: center;
}
#texto{
    margin-top: -1%;
    text-align: center;
    font-size: 14px;
}
#btnLogin {
    width: 100px;
    height: 50px;
    display: flex;
    justify-self: end;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--ciano);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    
}

#btnLogin:hover {
    background-color: rgb(1, 96, 96);
    transform: scale(1.05);
    /* leve aumento ao passar */
}
#linkCadastro:hover{
    background-color: rgb(1, 96, 96);
    transform: scale(1.05);
}
#linkRecuperar:hover{
    background-color: rgb(155, 155, 155);
    transform: scale(1.05);
}
label {
    color: var(--branco);
    font-size: 14px;
}

a {
    color: var(--branco);
    font-size: 14px;
}

#linkCadastro {
    color: var(--ciano);
}

#linkRecuperar {
    margin-left: 40px;
}

.entrada {
    background-color: var(--azul-escuro);
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: white;
}
.divEntrada{
    margin-top: 90px;
}
fieldset {
    margin-top: 10px;
    color: var(--ciano);
    border-radius: 10px;
}
