@import url("./main.css");

body {
    background-color: black;
    place-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

header {
    background: transparent;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
}

.img_gradient {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}

#form-login {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.neon {
    width: 43vw;
    height: 70vh;
    background: linear-gradient(to right, var(--azul-escuro), var(--azul-marinho), var(--ciano));
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animationGradient {
    to {
        background-position: 200%;
    }
}

.caixa-login {
    margin-top: 0%;
    margin-bottom: 0%;
    width: 40vw;
    background-color: black;

    padding: 20px;
    height: auto;
    box-shadow: 0 0 10px rgb(141, 141, 141);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    color: var(--branco);
    gap: 25px;
}

h1 {
    /* margin-top: -20%; */
    text-align: center;
}


.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container .entrada {
    width: 100%;
    padding-right: 40px;
}

.password-toggle {
    position: absolute;
    right: 10px;
    cursor: pointer;
    user-select: none;
    color: #666;
    font-size: 24px;
    transition: color 0.2s;
}

.password-toggle:hover {
    color: var(--ciano);
}

#texto {
    margin-top: -1%;
    text-align: center;
    font-size: 14px;
}


#btnLogin {
    width: 100%;
    height: 50px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--ciano);
    color: var(--branco);
    border: none;
    border-radius: 5px;
}

#btnLogin:hover {
    background-color: rgb(1, 96, 96);
    transform: scale(1.05);
}


label {
    color: var(--branco);
    font-size: 14px;
}

a {
    color: var(--branco);
    font-size: 14px;
}

#linkCadastro {
    color: var(--ciano);
}

#linkCadastro:hover {
    background-color: rgb(1, 96, 96);
    transform: scale(1.05);
}

#linkRecuperar:hover {
    background-color: rgb(155, 155, 155);
    transform: scale(1.05);
}

#direcionavel {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#linkRecuperar {
    margin-left: 0;
}


.divEntrada {
    margin-top: 40px;
}

fieldset {
    color: var(--ciano);
    border-radius: 10px;
    height: 55px;
    border: 1px solid white;
    margin-top: 3%;
}

#senha {
    margin-top: 1%;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none !important;
}



.entrada {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: white;
    outline: none;
}


footer {
    background: transparent;
}


/* @media (min-width: 900px) {

    .caixa-login {
        width: 50%;
        max-width: 450px;
        height: 650px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #btnLogin {
        width: 150px;
        height: 60px;
        justify-self: end;
        margin-top: 10%;
    }

    #direcionavel {
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
    }

    #linkRecuperar {
        margin-left: 20px;
    }
}


@media (max-width: 400px) {

    h1 {
        font-size: 22px;
    }

    #texto {
        font-size: 13px;
    }

    .caixa-login {
        margin-top: 25%;
        margin-bottom: 25%;
        padding: 15px;
    }

    fieldset {
        height: 48px;
    }

    .entrada {
        font-size: 16px;
    }
} */