@import url('./main.css');

html, body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    width: 100vw;
    height: 100vh;
    place-items:center;
   
}

header{
    width: 100%;
    height: 7%;
    box-shadow:0 0 10px black;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: var(--azul-escuro);
} 

.logoSenai{
    height: auto;
    width: 60%;
    display: flex;
    align-items: center;;
    cursor: pointer;
    margin-left: 7%; 
}



 footer{
    width: 100%;
    background-color: var(--azul-escuro);
    height: 7%;
    box-shadow: 0 0 10px black;
}