@import url('./main.css');

html, body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
    height: 7vh;
    box-shadow:0 0 10px black;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: var(--azul-escuro);
} 
.logoSenai{
    background:red;
    height: auto;
    width: 120px;
    display: flex;
    align-items: center;;
    cursor: pointer;
    margin-left: 30%;
    
}


header a {
     font-weight: bold;
     font-style: normal;
     color: var(--branco);
     margin-right: 80%;
} 



#divPesquisa{
    /* background-color:black; */
    width: 40vw;
    display: flex;
    justify-content: center;
}

#divLogin{
        /* background-color:blue; */

    width: 5vw;
    display: flex;
    justify-content: flex-end;
}

#pesquisa{
    width: 30vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    margin-right: -60%;
}


 footer{
    width: 100%;
    background-color: var(--azul-escuro);
    height: 7vh;
    box-shadow: 0 0 10px black;
}
