@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('cores.css');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
header{
    width: 100vw;
    height: 7vh;
    background-color:var(--azul-escuro);
    display: flex;
   
}
.logoSenai{
    width: 100px;
    height: auto;
    /* margin-top: 10px; */
    /* padding-left:  15px; */
    /* padding: 20px 10px; */
}
    header a {
     /* margin-right: -55px; */
     /* font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto; */
     font-weight: bold;
     font-style: normal;
     color: var(--branco);
  
}
/* #cabecalho div{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    padding: 20px 60px; 

} */
#pesquisa{
    width: 20vw;
    height: 50%;
    border: none;
    border-radius: 5px;
}
.divLogo{
width: 40vw;
padding: 0 0 0 2%;
justify-content: center;
align-content: center;
}
.divPesquisa{
width: 40vw;
/* padding: 0 0 0 50vw; */
padding-left: 50vw;
justify-content: center;
align-content: center;
}

.divLogin{
width: 40vw;
padding: 0 0 0 12vw;
justify-content: center;
align-content: center;
}



