@import url("./style.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: var(--branco);
    min-height: 100vh;
}
.img_gradient {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}
header{
    width: 100%;
    height: 7vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset{
    color: var(--ciano);
    border-radius: 30px;
    height: 7vh;
    width: 40%;
    border: 1px solid white;
    margin-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}
.entrada{
    background: transparent;
    width: 100%;
    border: none;
}
.caixa-cadastro{
    width: 35vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    box-shadow: 0 0 30px var(--ciano);
    border-radius: 30px; 
}
h2{
    text-align: center;
}
.divFormulario{    
    /* background-color: beige; */
    display: flex;
    color: var(--ciano);
    justify-content: center;
    align-items: center;
    gap: 20px;
}
select{
    width: 40%;
    height: 80%;
    border: 1px solid var(--branco);
    border-radius: 30px;
    background: transparent;
    color: var(--ciano);
    display: flex;
    justify-content: center;
    
}
option{
    background-color: var(--azul-escuro);
}
label,select{
    margin-top: 5%;

}
.btnCadastrar{
    width: 10vw;
    height: 5vh;
    border-radius: 30px;
    background: transparent;
    color: var(--ciano);
    margin-top: 10px;
    margin-bottom: 30px;
    
}
