@import url("./style.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: var(--branco);
    min-height: 100%;
    }
.img_gradient {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}
header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    margin: auto;
}
main{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset{
    color: var(--ciano);
    border-radius: 30px;
    height: 80%;
    width: 40%; /* Ocupa quase a tela toda no mobile */
    max-width: 450px; /* Não deixa ficar gigante no computador */
    border: 1px solid white;
    margin-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}
.entrada{
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    color: var(--branco);
    padding-right: 45px; /* Espaço para o ícone não sobrepor o texto */
}
.caixa-cadastro{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    box-shadow: 0 0 30px rgb(55, 55, 55);
    border-radius: 30px;
    cursor: pointer;
}
.caixa-cadastro:hover{
        box-shadow: 0 0 30px var(--ciano);

}
h2{
    text-align: center;
}
.divFormulario{    
    display: flex;
    color: var(--ciano);
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
    gap: 20px;
}
select{
    width: 40%;
    height: 80%;
    border: 1px solid var(--branco);
    border-radius: 30px;
    background: transparent;
    color: var(--ciano);
    cursor: pointer;
    text-align: center;
    text-align-last: center;
}

option{
    background-color: var(--azul-escuro);
    /* border-radius: 30px; */
}
label,select{
    margin-top: 5%;
    margin-bottom: 1%;

}
.password-toggle {
    /* position: absolute; */
    right: 10px;
    cursor: pointer;
    user-select: none;
    color: #666;
    font-size: 24px;
    transition: color 0.2s;
    margin-right: 1%;
}
.divSenha{
    width: 100%; 
    height: 80%;
    display: flex;
    align-items: center;
}
.password-toggle:hover {
    color: var(--ciano);
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none !important;
}

.divBtn {
    width: 100%;
    display: flex;
    justify-content: center; 
}

.btnCadastrar{
    width: 40%;
    max-width: 200px;
    height: 40px;
    border: 1px solid var(--ciano);
    border-radius: 30px;
    background: transparent;
    color: var(--ciano);
    margin-top: 40px;    
    cursor: pointer;
}


.btnCadastrar:hover{
    box-shadow: 0 0 20px 0 var(--ciano);
}

/* @media(max-width: 855px) {
    .caixa-cadastro{
        width: 500px;
        height: 600px;
    
    }
}
@media(max-width: 550px) {
    .caixa-cadastro{
        width: 400px;
    
    }
} */