@import url("./main.css");

body {
    background-color: black;
    place-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

header {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    margin: auto;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
}

.img_gradient {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}

#form-login {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.neon {
    width: 38vw;
    height: 86vh;
    background: linear-gradient(to right, var(--azul-escuro), var(--azul-marinho), var(--ciano));
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    cursor: pointer;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animationGradient {
    to {
        background-position: 200%;
    }
}

.caixa-login {
    margin-top: 0%;
    margin-bottom: 0%;
    width: 92%;
    height: 92%;
    background-color: black;
    padding: 20px;
    /* box-shadow: 0 0 10px rgb(141, 141, 141); */
    display: flex;
    flex-direction: column;
    border-radius: 80px;
    justify-content: center;
    color: var(--branco);
    gap: 25px;
}

.caixa-login:hover {
    box-shadow: 0 0 30px rgb(141, 141, 141);
}

h1 {
    margin-top: -10%;
    text-align: center;
}

.divEntrada {
    margin-top: 40px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    color: var(--ciano);
    border-radius: 30px;
    height: 7vh;
    width: 100%;
    border: 1px solid white;
    margin-top: 3%;
}

#senha,
span {
    margin-top: 1%;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none !important;
}



.entrada {
    top: 20px;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: white;
    outline: none;
    margin-top: 1%;
}

.senha-container {
    position: relative;
    display: flex;
    align-items: center;
}

.senha-container .entrada {
    width: 100%;
    padding-right: 40px;
}

.password-toggle {
    position: absolute;
    right: 10px;
    cursor: pointer;
    user-select: none;
    color: #666;
    font-size: 24px;
    transition: color 0.2s;

}

.password-toggle:hover {
    color: var(--ciano);
}

#texto {
    margin-top: -1%;
    text-align: center;
    font-size: 14px;
    color: rgb(147, 147, 147);
}


#btnLogin {
    width: 50%;
    height: 100%;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* background: var(--ciano); */
    background: transparent;
    /* color: var(--branco); */
    color: var(--ciano);
    border: 1px solid var(--ciano);
    border-radius: 30px;
    margin-top: 40px;
    font-size: 16px;
    /* font-weight: bold; */
}

#btnLogin:hover {
    box-shadow: 0 0 20px 0 var(--ciano);
    transform: scale(1.01);
}

.direcionavel {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 80%;
    margin-left: 40px;
    /* background-color: aliceblue; */
}

label {
    color: var(--branco);
    font-size: 14px;
}

a {
    font-size: 14px;
}

#linkCadastro {
    color: var(--ciano);
    font-weight: bold;
    text-decoration: none;
}

#linkCadastro:hover {
    background-color: rgb(1, 96, 96);
    transform: scale(1.05);
}

#linkRecuperar:hover {
    background-color: rgb(155, 155, 155);
    transform: scale(1.05);
}



#linkRecuperar {
    color: var(--branco);
    font-weight: bold;
    text-decoration: none;

}




footer {
    background: transparent;
}





@media (max-width: 550px) {
    h1 {

        text-align: center;
        font-size: 25px;

    }

    #texto {
        font-size: 14px;
    }

    .neon {
        margin-top: 5%;
        width: 79vw;
        height: 80vh;
        background-size: 200%;
        border-radius: 80px;

    }

    .caixa-login {
        width: 90%;
        display: flex;
        flex-direction: column;
        border-radius: 80px;
        justify-content: center;
        color: var(--branco);
    }

    .direcionavel {
    }
}

@media (max-width: 350px) {
    h1 {

        text-align: center;
        font-size: 30px;

    }

    #texto {
        font-size: 12px;
    }

    .neon {
        margin-top: 5%;
        width: 79vw;
        height: 80vh;
        background-size: 200%;
        border-radius: 80px;

    }

    .caixa-login {
        width: 90%;
        display: flex;
        flex-direction: column;
        border-radius: 80px;
        justify-content: center;
        color: var(--branco);
    }

    .direcionavel {
        flex-direction:column ;
    }
}